trunk/Middleware/InfTable/res/raw/courses.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="list">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="course" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:anyURI" name="url"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:anyURI" name="drps"/>
              <xs:element type="xs:string" name="euclid"/>
              <xs:element type="xs:string" name="acronym"/>
              <xs:element type="xs:string" name="ai"/>
              <xs:element type="xs:string" name="cg"/>
              <xs:element type="xs:string" name="cs"/>
              <xs:element type="xs:string" name="se"/>
              <xs:element type="xs:integer" name="level"/>
              <xs:element type="xs:integer" name="points"/>
              <xs:element type="xs:integer" name="year"/>
              <xs:element type="xs:string" name="deliveryperiod"/>
              <xs:element type="xs:string" name="lecturer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>